<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h1>{{title}}</h1>
            </div>
            <div class="col-md-3">
                <a href="/factors/add" class="btn btn-primary mt-50">Add Factor</a>
            </div>
        </div>
    </div>

    <hr>

    <table class="table table-striped">
        <tr>
            <th>Factor Title</th>
            <th>Factor Section</th>
            <th>
            </th>
        </tr>
        {{#each factors}}
        <tr>
            <td>{{title}}</td>
            <td>{{section}}</td>
            <td>
                <a class="btn btn-primary btn-sm" href="factors/edit/{{_id}}">Edit</a>
            </td>
        </tr>
        {{/each}}

    </table>

</div>