<div id="admin">
  <div class="admin-inner">
    {{> _sidebar}}
    <section>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
            <p class="text-danger mt-4">Currently there are no adjustable settings available</p>
            <a href="/admin/reset-assessment" class="btn btn-danger mb-2">Reset Assessment</a>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
    {{> _footer}}


