$primary-color:#0E034D;
$primary-overlay:rgba(14, 3, 77, 0.4);
$secondary-color:#FFD403;
$secondary-overlay:rgba(255, 212, 3, 0.8);

body {
  color: #fff;
}

// navbar
#navbar {
  background-color: #fff;
  border-bottom: solid 5px $primary-color;
  outline: solid 3px $secondary-color;
  color: #333;

  .navbar-brand {
    font-size: 1.2em;
    color: #333;
  }

  .nav-item {
    font-size: 1.4rem;
    padding-right: 20px;

    .nav-link {
      color: #333;
    }
  }
}

// end of navbar

#assessment {
  .assessment-inner {
    padding-top: 150px;
  }
}

// home
#home {
  background:
    linear-gradient($primary-overlay, $primary-overlay),
    url('../img/loginBackground.jpg') no-repeat;
  background-attachment: fixed;
  background-size: cover;

  .fa {
    background-color: #fff;
    border-radius: 5px;
    font-size: 22px;
    padding: 4px;
    color: #333;
  }

  .home-inner {
    padding-top: 150px;
  }

  .card {
    border-radius: 0;
  }

  .card-form {
    opacity: 0.9;
  }

  .assessment-btn {
    background-color: #f44336;
    border-radius: 7px;
    box-shadow: 2px 5px 10px #111;
    transition: all .3s;
  }

  .assessment-btn:hover {
    background-color: #f66436;
    border-radius: 7px;
    box-shadow: 2px 5px 20px #111;
    transform: translateY(-1px);
  }
}

// end of home

// contact
#contact {
  background:
    linear-gradient($primary-overlay, $primary-overlay),
    url('../img/loginBackground.jpg') no-repeat;
  background-attachment: fixed;
  background-size: cover;

  .card-form {

    border-radius: 0;
    opacity: 0.9;
  }
}

// end of contact

// registration
#registration {

  .registration-inner {
    padding-top: 150px;
  }

  background: linear-gradient($primary-overlay, $primary-overlay),
  url('../img/loginBackground.jpg') no-repeat;
  background-attachment: fixed;
  background-size: cover;

  .registration-form {
    border-radius: 0;
    opacity: 0.9;
  }
}

// end of registration

// login
#login {
  background: linear-gradient($primary-overlay, $primary-overlay),
    url('../img/loginBackground.jpg') no-repeat;
  background-attachment: fixed;
  background-size: cover;

  .login-inner {
    padding-top: 150px;
  }

  .login-form {
    border-radius: 0;
    opacity: 0.9;
  }
}

// end of login


// footer
#footer {
  border-top: solid 5px $primary-color;
}

// footer end


// admin
#admin {
  .admin-inner {
    padding-top: 110px;
  }
}

// admin end

// admin-sidebar
#admin-sidebar {
  height: auto;

  .sidebar {
    background: linear-gradient($primary-overlay, $primary-overlay), url(/img/loginBackground.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 7px 25px #999;
    position: fixed;
    height: 100vh;
    z-index: 999;
  }

  .sidebar-link {
    transition: all .4s;
  }

  .sidebar-link:hover {
    background-color: rgba(14, 3, 77, 0.7);
    ;
    border-radius: 5px;
  }

  .current {
    background-color: #f44336;
    border-radius: 7px;
    box-shadow: 2px 5px 10px #111;
    transition: all .3s;
  }

  .current:hover {
    background-color: #f66436;
    border-radius: 7px;
    box-shadow: 2px 5px 20px #111;
    transform: translateY(-1px);
  }
}

// end of admin sidebar

.add-btn {
  background-color: #f44336;
  border-radius: 7px;
  box-shadow: 2px 5px 10px #111;
  transition: all .3s;
}

.add-btn:hover {
  background-color: #f66436;
  border-radius: 7px;
  box-shadow: 2px 5px 20px #111;
  transform: translateY(-1px);
}

// admin dashboard cards

.card-style {
  box-shadow: 1px 2px 5px #999;
  transition: .4s;
}

.card-style:hover {
  box-shadow: 2px 3px 15px #999;
  transform: translateY(-1px);
}


// end of admin dashboard cards

@media (max-width: 768px) {
  #admin-sidebar {
    .sidebar {
      position: static;
      height: auto;
    }
  }

}