<nav class="navbar navbar-expand-md navbar-light fixed-top"  id="navbar">
    <div class="container">
      <a href="/" class="navbar-brand"><img src="/img/utechlogo.png" alt="" width="85" height="85" class="img-fluid">
        <h3 class="d-inline align-middle">UTech SORAT</h3>
      </a>
      <button class="navbar-toggler" data-target="#navbarNav" data-toggle="collapse"><span class="navbar-toggler-icon"></span></button>
      <div id="navbarNav" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="/" class="nav-link"><i class="fa fa-home"></i> Home</a>
          </li>
          {{#if user.admin}}
            <li class="nav-item">
            <a href="/admin/dashboard" class="nav-link"><i class="fa fa-users"></i> Admin</a>
          </li>
          {{/if}}

          {{#if user}}
            <li class="nav-item">
            <a href="/users/logout" class="nav-link"><i class="fas fa-sign-out-alt"></i> Logout</a>
          </li>
          {{else}}
          <li class="nav-item">
            <a href="/users/register" class="nav-link"><i class="fa fa-user-plus"></i> Register</a>
          </li>
          <li class="nav-item">
            <a href="/users/login" class="nav-link"><i class="fas fa-sign-in-alt"></i> Login</a>
          </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>

