<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>UTech SORAT</title>
  <!--
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">-->

  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/reading.css">
  <link rel="stylesheet" href="/css/typing.css">
  <link rel="stylesheet" href="/css/wifi.css">

  <link rel="stylesheet" href="/css/all.css">
  <script src="/js/Chart.min.js" charset="utf-8"></script>

</head>

<body>

  {{> _navbar}}





  {{{body}}}

  {{> _footer}}

  <script src="/js/jquery.min.js" charset="utf-8"></script>
  <script src="/js/popper.min.js" charset="utf-8"></script>
  <script src="/js/bootstrap.min.js" charset="utf-8"></script>
  <script src="https://cdn.ckeditor.com/4.10.1/standard/ckeditor.js"></script>
  <script src="/js/main.js" charset="utf-8"></script>
  <script src="/js/reading.js" charset="utf-8"></script>
  <script src="/js/typing.js" charset="utf-8"></script>
  <script src="/js/wifi.js" charset="utf-8"></script>




  <script>
    CKEDITOR.replace('lowresponse');
    CKEDITOR.replace('mediumresponse');
    CKEDITOR.replace('highresponse');
  </script>
</body>

</html>