<div id="assessment">
    <div class="assessment-inner">


        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-8 mx-auto">

                        <div class="card text-dark mb-2">
                            <div class="card-body">
                                <h1>{{title}}</h1>
                                <hr>
                                <h4 class="card-title">UTech-SORAT</h4>
                                <p class="card-text">
                                    UTECH SORAT (Student Online Readiness Assessment Tool) is a tool sponsored by The
                                    University of Technology, Office of Distance
                                    Learning (ODL). This tool assesses your online readiness and provides an analytical
                                    report in the
                                    form of a personal readiness profile highlighting areas of strengths and makes
                                    recommendations for
                                    improvement. UTECH SORAT in no way gives an absolute measure as to whether or not
                                    you are ready or
                                    will be successful in an online learning environment. This tool is intended to be
                                    used only as a
                                    guide. UTECH SORAT will also provide the Office of Distance Learning with
                                    statistical reports indicating
                                    the overall interest in online learning at the University of Technology, Jamaica.
                                </p>
                                <div class="text-center mb-2">
                                    <a href="/assessment/{{section}}" class="btn btn-primary btn-color">Click Here to
                                        Begin or Continue</a>
                                </div>
                            

                            </div>
                           
                        </div>
                    </div>
                </div>
        </section>
    </div>
</div>