<div id="assessmentIntroBackground">
    <div id="imgOverlay">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h1>{{title}}</h1>
                    <hr>
                    <div class="card mx-auto text-center">
                        <div class="card-body">
                            <h4 class="card-title">UTech-SORAT</h4>
                            <p class="card-text">
                                UTECH SORAT (Student Online Readiness Assessment Tool) is a tool sponsored by The University of Technology, Office of Distance
                                Learning (ODL). This tool assesses your online readiness and provides an analytical report
                                in the form of a personal readiness profile highlighting areas of strengths and makes recommendations
                                for improvement. UTECH SORAT in no way gives an absolute measure as to whether or not you
                                are ready or will be successful in an online learning environment. This tool is intended
                                to be used only as a guide. UTECH SORAT will also provide the Office of Distance Learning
                                with statistical reports indicating the overall interest in online learning at the University
                                of Technology, Jamaica.
                            </p>
                        </div>
                    </div>

                    <br>
                    <div class="progress" style="height: 20px">
                        <div class="progress-bar progress-bar-striped progress-bar-animated progress-bar-gold" role="progressbar" aria-valuenow="100"
                            aria-valuemin="0" aria-valuemax="100" style="width: 100%">100%</div>
                    </div>
                    <br>
                    <div class="text-center mb-2">
                        <a href="/results/summary" class="btn btn-primary btn-color">Show Results</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>