body {
  color: #fff; }

#navbar {
  background-color: #fff;
  border-bottom: solid 5px #0E034D;
  outline: solid 3px #FFD403;
  color: #333; }
  #navbar .navbar-brand {
    font-size: 1.2em;
    color: #333; }
  #navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 20px; }
    #navbar .nav-item .nav-link {
      color: #333; }

#assessment .assessment-inner {
  padding-top: 150px; }

#home {
  background: linear-gradient(rgba(14, 3, 77, 0.4), rgba(14, 3, 77, 0.4)), url("../img/loginBackground.jpg") no-repeat;
  background-attachment: fixed;
  background-size: cover; }
  #home .fa {
    background-color: #fff;
    border-radius: 5px;
    font-size: 22px;
    padding: 4px;
    color: #333; }
  #home .home-inner {
    padding-top: 150px; }
  #home .card {
    border-radius: 0; }
  #home .card-form {
    opacity: 0.9; }
  #home .assessment-btn {
    background-color: #f44336;
    border-radius: 7px;
    box-shadow: 2px 5px 10px #111;
    transition: all .3s; }
  #home .assessment-btn:hover {
    background-color: #f66436;
    border-radius: 7px;
    box-shadow: 2px 5px 20px #111;
    transform: translateY(-1px); }

#contact {
  background: linear-gradient(rgba(14, 3, 77, 0.4), rgba(14, 3, 77, 0.4)), url("../img/loginBackground.jpg") no-repeat;
  background-attachment: fixed;
  background-size: cover; }
  #contact .card-form {
    border-radius: 0;
    opacity: 0.9; }

#registration {
  background: linear-gradient(rgba(14, 3, 77, 0.4), rgba(14, 3, 77, 0.4)), url("../img/loginBackground.jpg") no-repeat;
  background-attachment: fixed;
  background-size: cover; }
  #registration .registration-inner {
    padding-top: 150px; }
  #registration .registration-form {
    border-radius: 0;
    opacity: 0.9; }

#login {
  background: linear-gradient(rgba(14, 3, 77, 0.4), rgba(14, 3, 77, 0.4)), url("../img/loginBackground.jpg") no-repeat;
  background-attachment: fixed;
  background-size: cover; }
  #login .login-inner {
    padding-top: 150px; }
  #login .login-form {
    border-radius: 0;
    opacity: 0.9; }

#footer {
  border-top: solid 5px #0E034D; }

#admin .admin-inner {
  padding-top: 110px; }

#admin-sidebar {
  height: auto; }
  #admin-sidebar .sidebar {
    background: linear-gradient(rgba(14, 3, 77, 0.4), rgba(14, 3, 77, 0.4)), url(/img/loginBackground.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 7px 25px #999;
    position: fixed;
    height: 100vh;
    z-index: 999; }
  #admin-sidebar .sidebar-link {
    transition: all .4s; }
  #admin-sidebar .sidebar-link:hover {
    background-color: rgba(14, 3, 77, 0.7);
    border-radius: 5px; }
  #admin-sidebar .current {
    background-color: #f44336;
    border-radius: 7px;
    box-shadow: 2px 5px 10px #111;
    transition: all .3s; }
  #admin-sidebar .current:hover {
    background-color: #f66436;
    border-radius: 7px;
    box-shadow: 2px 5px 20px #111;
    transform: translateY(-1px); }

.add-btn {
  background-color: #f44336;
  border-radius: 7px;
  box-shadow: 2px 5px 10px #111;
  transition: all .3s; }

.add-btn:hover {
  background-color: #f66436;
  border-radius: 7px;
  box-shadow: 2px 5px 20px #111;
  transform: translateY(-1px); }

.card-style {
  box-shadow: 1px 2px 5px #999;
  transition: .4s; }

.card-style:hover {
  box-shadow: 2px 3px 15px #999;
  transform: translateY(-1px); }

@media (max-width: 768px) {
  #admin-sidebar .sidebar {
    position: static;
    height: auto; } }
