
    #readingPassage{
      
      text-align: left;
      box-shadow:0 0 10px #9ecaed;
    }

  #blurPassage{
      text-shadow: 0 0 10px #000;
      color: transparent;
    }
 
  #btnStop{
      
      display: none;
    }
