<div id="admin">
    <div class="admin-inner">
        <!-- sidebar -->
        {{> _results-nav}}
        <!-- end of sidebar -->
        <section>
            <div class="container-fluid text-dark">
                <div class="row my-sm-3">
                    <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                        <div class="row">
                            <div class="col-12">
                                <h4>Individual Attributes</h4>
                                <p>
                                    This section assesses the most important individual attributes we believe a student
                                    should possess in order to contribute
                                    to their success in an online learning environment.
                                </p>
                                <canvas id="sectionSummary" class="mb-4 pb-4"></canvas>
                                {{#each results}}
                                <h4>{{factor}}</h4>
                                <hr>
                                <p>
                                    {{{response}}}
                                </p>
                                {{/each}}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end of charts -->
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script>
    var results = {{{ resultString }}};
    var labelArray = [];
    var dataArray = []
    for (let i = 0; i < results.length; i++) {
        labelArray.push(results[i].factor);
        dataArray.push(results[i].value);
    }
    window.onload = function () {
        console.log(hello);
    }
    var ctx = document.getElementById('sectionSummary').getContext('2d');
    var summaryChart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'bar',
        // The data for our dataset
        data: {
            labels: labelArray,
            datasets: [{
                label: "Online Readiness Sections",
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: dataArray,
            }]
        },
        // Configuration options go here
        options: {
            title: {
                display: false,
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        steps: 10,
                        stepValue: 5,
                        max: 100,
                        callback: function (value) {
                            return value + "%"
                        }
                    }
                }]
            }
        }
    });
</script>