<div id="admin">
    <div class="admin-inner">

        <!-- sidebar -->
        {{> _sidebar}}
        <!-- end of sidebar -->
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">

                        <div id="assessment">
                            <div class="mt-5">

                                {{> _preview-nav}}

                                <section>
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 mx-auto">
                                                <div class="card text-dark mb-2">
                                                    <div class="card-body">
                                                        <h1>
                                                            {{title}}</h1>
                                                        <hr>

                                                        <div class="card mx-auto text-center">
                                                            <div class="card-body">
                                                                <h4 class="card-title">Typing Speed Test</h4>
                                                                <p class="card-text">
                                                                    This sections seeks to address your typing speed as
                                                                    well as accuracy under certain
                                                                    conditions. A paragraph is given below for you to
                                                                    rewrite.
                                                                    Let us see how many "correct words" from the
                                                                    passage you can obtain within a one minute
                                                                    period.
                                                                </p>
                                                                <div id="countdown">
                                                                    Time Remaining:
                                                                    <span id="timer">01:00</span>
                                                                </div>
                                                                <div>
                                                                    <textarea disabled id="testingParagraph" style="overflow:hidden; height: 120px;"
                                                                        readonly> I challenged myself this year to be more adventurous and try my very best to step out of my comfort zone. I realized that this even happened without most of my input, curved balls were just thrown everywhere and luckily I was getting myself mentally prepared for this. The most yearned for and long awaited break named SUMMER was finally here and that meant many stuff for me. 
                                </textarea>
                                                                </div>
                                                                <div>
                                                                    <input id="hiddenParagraph" readonly value="I challenged myself this year to be more adventurous and try my very best to step out of my comfort zone. I realized that this even happened without most of my input, curved balls were just thrown everywhere and luckily I was getting myself mentally prepared for this. The most yearned for and long awaited break named SUMMER was finally here and that meant many stuff for me. ">
                                                                    </input>

                                                                </div>
                                                                <div style="hidden">
                                                                    <input type="textbox" id="userInput" placeholder="Type here..."
                                                                        onkeypress="textComparison(event)" onpaste="return false" />
                                                                </div>
                                                                <div>
                                                                    <button id="startBtn" class="btn btn-success btn-color"
                                                                        onclick="startTimer()">Click to
                                                                        Start</button>
                                                                </div>
                                                                <br>
                                                                <div class="progress" style="height: 20px">
                                                                    <div class="progress-bar progress-bar-striped progress-bar-animated progress-bar-gold"
                                                                        role="progressbar" aria-valuenow="95"
                                                                        aria-valuemin="0" aria-valuemax="100" style="width: 95%">95%</div>
                                                                </div>
                                                                <div>
                                                                    <span>
                                                                        <form action="#">
                                                                            <input name="wpm" id="wpm" value="" />
                                                                            <button type="submit" id="nextBtn" class="btn btn-primary mt-5 btn-color"
                                                                                disabled>Save and Continue</button>
                                                                        </form>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </section>
    </div>







    <script>
        var testingParagraph = document.getElementById("testingParagraph");
        var testingParagraph2 = document.getElementById("hiddenParagraph");
        var userInput = document.getElementById("userInput");
        var wpm = document.getElementById("wpm");

        //document.getElementById("startBtn");
        function startTimer() {
            document.getElementById("startBtn").style.visibility = "hidden";

            document.getElementById("userInput").style.visibility = "visible";
            document.getElementById("userInput").focus();

            document.getElementById("nextBtn").style.visibility = "visible";
            var presentTime = document.getElementById("timer").innerHTML;
            var timeArray = presentTime.split(/[:]+/);
            var timeLoop;
            var m = timeArray[0];
            var s = checkSecond(timeArray[1] - 1);
            if (s == 59) {
                m = m - 1;
            }
            if (m < 0) {
                //disable inputs field
                userInput.disabled = true;
                //change timer color
                document.getElementById("timer").style.color = "#FF0000";
                //clear timer variable
                clearTimeout(timeLoop);
                document.getElementById("userInput").disabled = true;
                document.getElementById("nextBtn").disabled = false;
                //console.log(correctWord.split(' ').length);
            } else {
                document.getElementById("timer").innerHTML = m + ":" + s;
                timeLoop = setTimeout(startTimer, 500);
            }
        }
        function checkSecond(sec) {
            if (sec < 10 && sec >= 0) {
                sec = "0" + sec;
            } // add zero in front of numbers < 10
            if (sec < 0) {
                sec = "59";
            }
            return sec;
        }
        function textComparison(event) {
            //base on the browser, if it uses or support event.which then keypressed equates to it otherwise keypressed equates to keyCode
            var keypressed = event.which || event.keyCode;
            var keyCharCode = String.fromCharCode(keypressed);

            //console.log(keyCharCode);
            //console.log(testingParagraph2.value.charAt(0));

            if (keyCharCode == testingParagraph2.value.charAt(0)) {
                testingParagraph.style.color = "#00cc00";
                testingParagraph2.value = testingParagraph2.value.substr(1);
                userInput.style.color = "#000000";
                wpm.value = wpm.value + keyCharCode;
                console.log(wpm.value);
                //console.log(testingParagraph2.value);
            } else {
                testingParagraph.style.color = "#FF0000";
                userInput.style.color = "#FF0000";
            }

        }
    </script>